.section__title-client {
    color: $color-text;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.clients {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

}
.clients__item {
   
flex-basis: calc((100% - 60px) / 2);
height: 92px;
margin: 15px;
       
@media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 90px) / 3);
    }
 @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 6 * 30px) / 6);
        
    }
}

.clients__link {
    display: flex;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: $logo-clients;
    transition: color 250ms $timing-function;

    &:hover, 
    &:focus {
    border-color: $hover-collor-text;
    color: $hover-collor-text;
}
}

.clients__icon {
    fill: currentColor;
}
