.logo {
  color: $hover-collor-text;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.logo__dark {
  color: $color-text;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  text-decoration: none;

  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
   
  }
}

.logo__half {
  color: $title-color;
  font-family: Raleway;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;

  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
  }
}
