.section__hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.filter {
    display: flex;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        margin-bottom: 40px;
      }
      @media screen and (min-width: 768px) {
        margin-bottom: 50px;
        justify-content: center;
    }
}
.filter__item {
  
    @media screen and (max-width: 767px) {
        margin-right: 8px;
        margin-bottom: 15px;
        &:nth-child(3n) {
          margin-right: 0;
        }
        &:nth-last-child(-n + 2) {
          margin-bottom: 0px;
        }
      }
      @media screen and (min-width: 768px) {
          margin-right: 8px;  
          &:last-child {
              margin-right: 0;
          }
}
}
.filter__button { 
    color: $color-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-family: inherit;
    border: transparent;
    border-radius: 4px;
    padding: 6px 22px;
    transition-timing-function: $timing-function; 
    transition-property: color, box-shadow, background-color; 
    transition-duration: 250ms;
    background-color: $background-team;

    &:hover,
    &:focus
     {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        color: $title-color;
        background-color: $hover-collor-text;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  
}
.gallery__item {

    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
        width: 450px;
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
        margin-right: 30px;
        display: flex;
        flex-grow: 1;
      }
      @media screen and (min-width: 1200px) {
        width: 370px;
        margin-right: 30px;
       
      }
}
.gallery__link {
    display: block;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover, 
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}
.gallery__thumb {
    position: relative;
    overflow: hidden;

}
.gallery__card {
  padding: 20px 24px;
  border: 1px solid #ececec;
  flex-grow: 1;

}
.gallery__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition:  transform 250ms $timing-function;
    background: rgba(33, 150, 243, 0.9);
    letter-spacing: 0.03em;
    color: $title-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    transform: translateY(100%);
    padding: 63px 24px;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.gallery__link:hover .gallery__overlay,
.gallery__link:focus .gallery__overlay {
    transform: translateY(0);
}

.gallery__title {
    color: $color-text;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.gallery__text {
    color: $color-text-header;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.86;
}