$title-color: #FFFFFF;
$background-color:  #2F303A;
$hover-collor-text: #2196f3;
$background-team: #F5F4FA;
$footer-color-text: rgba(255, 255, 255, 0.6);
$color-text: #212121;
$color-text-header: #757575;
$backround-color-clients: #E5E5E5;
$logo-clients: #AFB1B8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);